/* FOOTER */
.footer {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: -4px;
		width: 100%;
		height: 0;
		border-top: 2px solid $blue;
	}

	ul {
		@extend .ul;
	}

	a {
		color: $white;
	}

	.footer-menu {
		& > ul {
			& > li {
				width: 19%;
			    margin: 0 0 20px 0;
			    padding: 0 15px;
			    display: inline-table;
				&>a{
					font: 700 16px/20px $font-family-1;
					display: inline-block;
					margin: 0 0 8px 0;
				}

				ul{
					li{
						line-height: 0;
						margin-bottom: 3px;
						a{
							font: 400 14px/18px $font-family-3;
							display: inline-block;
						}
					}
				}
				@include media-breakpoint-down(xs){
					width: 49%;
				}
			}
		}
	}
    
	.footer-top {
		font: 400 16px/24px $font-family-1;
		background: $blue no-repeat center top;
		background-size: cover;
		color:$white;
		padding: 50px 0 30px 0;
		h5 {
			font: 900 28px/32px $font-family-2;
			text-transform: uppercase;
			margin: 0 0 25px 0;
		}

		p {
			font: 400 16px/24px $font-family-1;
			margin: 0 0 30px 0;
		}

		.box {
			@include media-breakpoint-down(xs){
				max-width: 260px;
			}
		}

		@include media-breakpoint-down(xs){
			padding: 20px 0;
			.widget {
				p {
					margin: 0;
					& > a, & > img{
						margin: 5px 0;
					}
				}
			}
		}
	}

	.footer-bottom {
		font: 400 14px/18px $font-family-1;
		background: $blue;
		color: $white;
		& > .container{
			padding-top: 25px;
			padding-bottom: 25px;
			border-top: 1px solid $blue-02;
		}

		p {
			font: 400 14px/18px $font-family-1;
			margin: 0;
		}

		ul {
			display: inline-block;
			margin: 0 5px;
			& > li{
				float: left;
				margin: 0 6px;
				& > a{
					display: inline-block;
				}
			}
		}

		.widget {
			display: inline-block;
		}

		.footer-logo {
			position: relative;
			max-width: 300px;
			a {
				color: $white;
				text-decoration: none;
                display: inline-block;
                strong {
                    font: 700 20px/24px $font-family-1;
                    padding: 5px;
                    display: inline-block;
                    text-transform: uppercase;
                    border: 1px solid $white;
                    margin-bottom: 10px;
                }

                span {
					font: 300 13px/17px $font-family-1;
					display: block;
                    margin: 0 0 5px 0;
				}
			}

			img {
				float: left;
				margin: 0 15px 0 0;
				max-width: 200px;
			}
		}

		.right {
			padding: 25px 0;
            h2{
                font-size: 20px;
                line-height: 24px;
            }
			@include media-breakpoint-up(sm){
				text-align: right;
                .widget{
                    & > div{
                        text-align: center;
                    }
                }
			}
		}
	}
}
