//header
body {
  .header{
    + .main{
      & > .jumbotron{
        margin: 0;
        padding-top: 6rem;
        + .wrap{
          padding-top: 4rem;
        }
      }
    }

    .navbar{
      background: $blue;
      @include box-shadow(0 0 5px $black-trans);

      .navbar-brand{
        font-size: 20px;
        text-transform: uppercase;
        padding: 5px;
      }

      .nav{
        & > li{
          padding: 5px;
        }
      }
    }
  }
  &.admin-bar{
    position: relative;
    top: 54px !important;

    & > .header {
      .fixed-top {
        top: 32px !important;
      }
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
