//body
body {
    font: 400 14px/22px $font-family-1;
    background-color: $white;
    color: $default;
    -webkit-font-smoothing: antialiased;
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        list-style: none;
    }
}

//module not found
.module-not-found{
    width: 100%;
    padding: 5px;

    @include media-breakpoint-up(sm){
        display: table;
        table-layout: fixed;
    }

    @include media-breakpoint-down(xs){
        display: block;
    }

    & > figure{
        background: $gray;
        margin: 0;
        @include box-shadow(0 0 5px $black-trans);

        img{
            width: 100%;
            max-width: 100%;
        }
    }

    & > figure, .media-body{

        @include media-breakpoint-up(sm){
            display: table-cell;
            vertical-align: middle;
        }
    }

    .media-body{
        font: 400 20px/26px $font-family-1;
        border: 1px solid $gray;
        padding: 40px;
        h5{
            font: 700 42px/46px $font-family-3;
            text-transform: uppercase;
            margin: 0 0 40px 0;
        }

        ul{
            @extend .ul;
            li{
                margin: 0 0 10px 0;
            }
        }
    }
}

//module card
.module-card{
    padding: 40px 0;

    & > h2{
        font: 700 32px/36px $font-family-3;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 40px 0;
    }

    .card-body{
        position: relative;
        padding-bottom: 58px;
        min-height: 65vh;
    }

    .card-title{
        margin: 0 0 30px 0;
    }

    .card-text{
        min-height: 20vh;

        p{
            margin: 0;
        }

        .btn{
            width: 90%;
            margin: 5%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
    }
}