@mixin border-radius($radius){
    border-radius:$radius;
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    -o-border-radius:$radius;
}

@mixin box-shadow($shadow){
    -webkit-box-shadow: $shadow;
        box-shadow: $shadow;
}