/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/* FONTS */
$font-family-1: Merriweather, Helvetica, Arial, sans-serif;
$font-family-2: Chivo, Helvetica, Arial, sans-serif;
$font-family-3: Roboto, Helvetica, Arial, sans-serif;

/* colors */
$default: #333;
$white: #fff;
$black: #000;
$black-trans: rgba(0,0,0,0.5);
$gray: #ddd;
$blue: #525ddc;
$blue-01: #338cff;
$blue-02: #6972db;
$blue-03: #00335a;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
